
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-y: auto !important;
}
/* cards section */
.card_container {
    padding-top: 4%;
    padding-bottom: 4%;
   
    background-color: #f6f6f6;
  }
  .rows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   column-gap: 50px;
   row-gap: 50px;
    padding: 20px;
    background-color: #f6f6f6;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .card {
    position: relative;
    width: 359px;
    width: 300px;
    height: 205px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    box-sizing: border-box;
  }
  

  .card p{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    opacity: 0.3;
  }

  .icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(1, 1, 1);
    text-align: center;
    transition: color 0.3s ease-in-out;
  }

  .card:hover {
    background-color: #2e93ff;
  }

  .card:hover img {
    transform: scale(1.1);
  }

  /* Additional rules for changing icon and text color on hover */
  .card:hover .icon-text i {
    color: #ffffff; /* Change icon color on hover */
  }

  .card:hover .icon-text p {
    color: #ffffff; /* Change text color on hover */
  }
  @media only screen and (max-width: 1000px) {
    .card-section {
   
      display: flex;
  
      justify-content: center; /* Adjust the space between cards */
   flex-wrap: wrap;
      margin-top: 20px; /* Adjust the margin from the "View More" */
      margin-left: 4%;
      margin-right: 4%;
    }
    
    .section-heading {
     
      font-size: 30px;
     
    }
    .card {
     
     
      width: 190px;
      height: 180px;
     
    }
    
  
    .card p{
      font-size: 15px;
      font-weight: 400;
      font-family: 'Manrope', sans-serif;
    }
    .rows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      column-gap: 10px;
      row-gap: 22px;
      padding: 5px;
      background-color: #f6f6f6;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 8%;
  }
  
  }
  @media only screen and (max-width: 470px)
  {
    .card{
      width: 172px;
        height: 160px;
    }
    .rows{
      column-gap: 4px;
    }
  }
  
  @media only screen and (max-width: 375px)
  {
    .card{
      width: 143px;
        height: 170px;
        
    }
    .rows{
      column-gap: 3px;
    }
    
  }
  

  /* faculty section */
  .faculty-section {
    text-align: center;
    margin-top: 4%;
  }
  
  .section-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    letter-spacing: 0px;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-paragraph {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    font-family: Manrope,sans-serif;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .view{
    font-family: 'Manrope', sans-serif;
    color: #777777;
    font-size: 19px;
    margin-top: 3%;
    cursor: pointer;
    
  }
  .line {
    border-top: 1px solid rgb(23, 22, 22);
    width: 90px; /* Adjust the width of the line */
    margin: auto; /* Adjust the margin as needed */
    margin-top: -12px;
  }

  .card-section {
 
    display: flex;
    justify-content: space-between; /* Adjust the space between cards */
 
    margin-top: 20px; /* Adjust the margin from the "View More" */
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .card-item {
    width: 277px;
    height: 380px; /* Set the width of each card */
   background-color: #e6e6e6;;
    
 /* Optional: Add border radius for rounded corners */
    padding: 2px;
    margin: 10px; /* Adjust the space between cards */
  }
  
  .card-item img {
    width: 90%;
    height: 80%;
    margin: 10px; /* Add margin from the top and sides of the card */
    object-fit: cover;
    padding: 10px; /* Adjust padding for internal content */
    margin: 10px 20px; 
    margin-right: 20px;/* Add margin from left and right */
   
  }
  
  .card-item h1 {
    font-family: 'Manrope', sans-serif;
    color: #161616;;
    font-size: 28px;
    margin-top: 4%;
    margin-bottom: 5px;
    display: flex;
    align-items: start;
    margin-left: 4%;
  }
  
  .card-item p {
    font-family: 'Manrope', sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #666666;
    display: flex;
    align-items: start;
    margin-left: 4%;
  }
  .upper_card {
    position: relative;
   
  }
  .upper_card img{
   
    width: calc(100%); 
    height: 100%; 
    margin: 0px;
    margin-right: 10px;
    margin-top: 3%;
    
  }

  .card-item .image-wrapper:hover img {
    opacity: 1;
}

.card-item .image-wrapper:before {
    content: "";
    position: absolute;
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
    width: 92%;
    height: 87%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card-item .image-wrapper:hover:before {
    opacity: 0.5;
}
@media only screen and (max-width: 638px)
{

  .card-item {
    width: 230px;
    height: 250px; /* Set the width of each card */
    margin: 5px !important; /* Adjust the space between cards */
  }


  
.card-item h1 {

  font-size: 13px;
 
}

.card-item p {
 
  font-size: 10px;

}
.card-item .image-wrapper:before {
display: none;
}
.card-section {
 
  display: flex;

  justify-content: space-between; /* Adjust the space between cards */
  margin:10px !important;
}

  
}
@media only screen and (max-width: 500px)
{

  .card-item {
    width: 205px;
    height: 225px; /* Set the width of each card */
    margin: 5px !important; /* Adjust the space between cards */
  }


  
.card-item h1 {

  font-size: 13px;
 
}

.card-item p {
 
  font-size: 10px;

}
.card-item .image-wrapper:before {
display: none;
}
.card-section {
 
  display: flex;

  justify-content: space-between; /* Adjust the space between cards */
  margin-right: 0 !important;
}

  
}

@media only screen and (max-width: 465px)
{

  .card-item {
    width: 185px;
    height: 210px; /* Set the width of each card */
    margin: 5px !important; /* Adjust the space between cards */
  }


  
.card-item h1 {

  font-size: 13px;
 
}

.card-item p {
 
  font-size: 10px;

}
.card-item .image-wrapper:before {
display: none;
}
.card-section {
 
  display: flex;

  justify-content: space-between; /* Adjust the space between cards */
  margin-right: 0 !important;
}

  
}


@media only screen and (max-width: 397px)
{

  .card-item {
    width: 160px;
    height: 190px; /* Set the width of each card */
    margin: 5px !important; /* Adjust the space between cards */
  }


  
.card-item h1 {

  font-size: 12px;
 
}

.card-item p {
 
  font-size: 9px;

}
.card-item .image-wrapper:before {
display: none;
}
.card-section {
 
  display: flex;

  justify-content: space-between; /* Adjust the space between cards */
  margin-right: 0 !important;
}

  
}






/* placment section css */

.ineer-placment{
    margin-top: 5%;
    padding-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
}

.ineer-placment h1{
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    color: #161616;
 
 
}

.ineer-placment p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    line-height: 1.7;
 
}

.placcard{
  width: 390px;
  height: 390px;
}

.placments-cards {
    display: flex;
   flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
@media only screen and (max-width: 1300px) and (min-width: 901px) {
  .placcard {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 900px){
  .placcard {
    width: 200px;
    height: 200px;
  }

}
@media only screen and (max-width: 490px){
.placcard{
  width: 170px;
  height: 170px;
}


}
@media only screen and (max-width: 419px){
  .placcard{
    width: 150px;
    height: 150px;
  }
  
  
  }
  @media only screen and (max-width: 364px){
    .placcard{
      width: 120px;
      height: 120px;
    }
    
    
    }

/* latest news css */
.latest-news{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    height: auto;
    margin-bottom: 10%;
}

.news-heading{
    font-weight: 300;
    color: #3b4a4f;
    font-size: 39px;
    margin-left: 5%;
}
.news-heading span{
    font-weight: 400;
    text-transform: uppercase;
}
.news-card {
  display: flex !important; 
  flex-direction: row !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.leftside-card img {
  width: 100%;
  height: auto;
}
.news-crousel{
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Manrope', sans-serif;
}

.leftside-card,
.rightside-card {
  width: 50%;
}
.rightside-card{
  background-color: #e2dfdf;

}
.content-card{
  margin-left: 3%;
  margin-top: 2%;
}
.read-more{
  color: #FF7E15;
  font-weight: 600;
  cursor: pointer;
}
.content-card h3{
  color: #7f7f7f;
    font-size: 16px;
    font-weight: 400;

}
.rightside-card button{
  background: #8a183d;
  color: #fff;
  padding: 3px 5px 1px;
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0;
  
}
.slick-dots  button:before{
  background: url("./img/number1.png") no-repeat;
  background-size: contain!important;
}
.slick-dots{
  bottom: -48px !important;

  width: 100% !important;

}
li.slick-active button::before {
  background: #8a183c !important;
  border: none !important;
}

.slick-dots li button:before {
  
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '' !important;
  text-align: center;
  opacity: 1!important;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #fff0;
  width: 12px !important;
  height: 12px !important;
  opacity: 1;
  border-radius: 55px;
  border: 2px solid #8a183c;


}

@media only screen and (max-width: 768px) {
  .news-heading{
    margin-left: 1%;
    font-size: 29px;
    margin-top: 13% !important;
}
.content-card h3{
    font-size: 9px;
  

}
.rightside-card button{
 
  font-size: 10px;
  font-weight: 900;
  
}
.news-card p{
  font-size: 10px;
}
.leftside-card img {
  width: 100%;
  height: 100%;
}
.news-crousel{

  margin-left: 0px;
  margin-right: 0px;

}
.latest-news{
 margin-top: 7%;
  margin-bottom: 14% !important;
  margin-left: 4%;
  margin-right: 4%;
height: 37vh !important;

}


}

/* footer */
.footer {
    background-color: #eff1f4;
    color: #333;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    height: fit-content !important;
    overflow-y: auto !important;
 

  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
  }
  .footer-column ul {
    padding: 0;
    list-style: none;
  }

  .footer-column ul li {
    margin-bottom: 20px; /* Adjust the value to set the desired gap between list items */
    transition: color 0.3s ease; /* Add a smooth color transition effect */
    font-size: 14px;
  }

  .footer-column ul li:hover {
    color: #999; /* Change the color to your desired faded color on hover */
  }
  .footer-column {
    flex: 1;
    min-width: 160px;
    margin-right: 20px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  .ulelements{
    display: flex;
  
  }
  .ul-second{
    margin-left: 10%;
  }
  
  .footer-column ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
    
  }
  .divider {
    width: 66%;
    height: 1px;
    background-color: #ccc;
    margin: 18px 0; /* Adjust the margin as needed */
  }
  
  .campus-address, .corporate-office {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
  }

  
  
  .footer-social {
    margin-top: 10px;
    text-align: right;
    flex-basis: 100%;
  }
  
  /* Add responsive behavior */
  @media (max-width: 764px) {
    .footer-columns, .footer-info {
      flex-direction: column;
    }
    
    .footer-column, .campus-address, .corporate-office {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1100px) {
    .footer-info {
      flex-direction: column;
    }
    
    .footer-column, .campus-address, .corporate-office {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .footer-info,
  .footer-social {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .campus-address,
  .corporate-office {
    margin-right: 0;
    margin-bottom: 20px;
  }

  }
  @media (max-width: 764px) {
  
  .footer-info,
  .footer-social {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 
  .campus-address,
  .corporate-office {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .divider {
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: 14px 0; /* Adjust the margin as needed */
  }
  

  .ulelements {
   gap: 30px;
  }

  .ul-second {
    margin-left: 0;
  }
}
  

  .footer-social {
  display: flex;
  justify-content: space-between;
}
 

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.social-icons li {
  margin: 0;
}

/* Additional styling for the third column (Sitemap) */
.footer-social > div:last-child {
  flex-basis: 20%; /* Adjust the width as needed */
}

 
textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

 

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
.accordion-content {
  display: none;
  margin: 0;
  padding: 0;
}

.accordion-header {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}


/* photos section */
.photo-sec{
    background-color: #f6f6f6f5;
    margin-top: 4%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;

}
.blueline{
    width: 5%;
    height: 5px;
    background-color: blue;
    margin-top:4%;
}

.photo-card-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    height: 100%;
    width: 100%;
    justify-content: center;
}


.pcard {
    width: 690px;
    height: 506px;
    overflow: hidden;
 
     /* Ensure that content inside .pcard is not overflowing */
}

.pcard1-one {
    height: 50%;
    width: 100%;
    overflow: hidden; 
    position: relative;
    cursor: pointer;
  
    
}


.pcard1-one img,
.pcard1-two img,
.pcard1-two-1 img {
    transition: transform 0.3s ease-in-out;
}

.pcard1-one:hover img,
.pcard1-two:hover img,
.pcard1-two-1:hover img {
    transform: scale(1.3);
}

.pcard1-two {
    display: flex;
    column-gap: 10px;
    width: auto;
    gap: 20px;
    height: 50%;
    cursor: pointer;
   
}

.pcard1-two-1 {
    width: 50%;
    height: 100%;
  margin-top: 30px;
  cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; /* Ensure that content inside .pcard1-two-1 is not overflowing */
}

.pcard2 {
    width: 490px;
    height: 506px;
    overflow: hidden;
    margin-left: 20px;
    box-sizing: border-box;
    overflow: hidden; 
    /* Ensure that content inside .pcard2 is not overflowing */
}



.pcard2 {
    position: relative;
    overflow: hidden;
  cursor: pointer;
   
}

.pcard2 img {
    transition: transform 0.3s ease-in-out;
   height: 100%;
}

.pcard2:hover img {
    transform: scale(1.3);
}

.pcard2 .blacklayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
   
    transition: background-color 0.3s ease-in-out;
}

.pcard2:hover .blacklayer {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bluelayer,
.bluelayer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 77, 162, 0.5); /* Adjust the alpha value for the desired level of translucency */
}

.pcard1-one h1,
.pcard1-two-1 h1 {
    color: #fff; /* Text color */
    z-index: 3;
    text-align: center;
    margin: 0; /* Remove default margin to center text properly */
}
.pcard1-one,
.pcard1-two-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blue-btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blue-btn button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 18px 81px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.blue-btn button:hover {
    background-color: #FFD700; /* Yellow color on hover */
    color: #000000; /* Black text color on hover */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Additional styling for a smooth left-to-right transition */
.blue-btn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007BFF, transparent);
    transition: left 0.3s ease-in-out;
}

.blue-btn button:hover::before {
    left: 100%;
}

@media (max-width: 768px) {
  .blueline {
    margin-top: 2%; /* Adjust margin for smaller screens */
  }

  .blue-btn button {
    padding: 15px 20px; /* Adjust for smaller screens */
  }
  .photo-sec-head{
   
    font-size: 22px !important;
    margin-left: 2%;
    margin-right: 2%;
  
  
  }
  .pcard {
    width: 95%;
    height: 650px;
    overflow: hidden;
 
     /* Ensure that content inside .pcard is not overflowing */
}
.pcard1-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  overflow: hidden;
  
  cursor: pointer;
 
}
.photo-sec-head h1{ 
  font-size: 26px !important;
  display: flex !important;
  align-items: baseline !important;
  justify-content: center !important;
  font-family: 'Manrope', sans-serif;
}
.pcard2 {
  display: flex;
  align-items: center;
  width: 95%;
  height: 350px;
  overflow: hidden;
  margin-left: 0px;
  margin-top: 3%;
  box-sizing: border-box;
  overflow: hidden; 
  /* Ensure that content inside .pcard2 is not overflowing */
}

.pcard1-two-1 {
  width: 100%;
  height: 90%;

  overflow: hidden;
  position: relative; /* Ensure that content inside .pcard1-two-1 is not overflowing */
}


  .photo-card-container {
    display: flex;
    flex-direction: column !important;

  align-items: center !important;
    justify-content: center;
}
.photo-sec{
 
  margin-top: 4%;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center !important;


}
.blue-btn button {
  background-color: #0C4DA2;
  color: #ffffff;
  margin-top: 5% !important;
  padding: 10px 55px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.pcard2 img {
  transition: transform 0.3s ease-in-out;
 height: 100%;
 width: 100%;
 object-fit: cover;
}


}

/*header */
/* Mobile menu styles */
.hamburger-icon{
  display: none;
}
.desktop-view{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-view{
  display: none;
}
@media screen and (max-width: 1025px) {
  .nav-link {
    display: none !important; /* Hide navigation links */
  }
nav{
  display: none 
}
.mobile-view{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desktop-view{
  display: none;
}
@media screen and (max-width: 764px) {
  .logo-window{
   
    width: 180px !important;
  }
  .logo-mob{
   
    width: 150px !important;
  }
  .window-header i{
    margin-top: 8% !important;
    
  }

.crousel-header{
    z-index: 999999;
    width: 80%;
    height: 250px  !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    margin-top: 15% !important;
   
}
.content-1{
    margin-top: 4% !important;
    

}
.content-1 h1{
    font-size: 30px !important;
    margin-top: 3%;
 
  
}
.content-1 p{
    font-size: 13px  !important;
    margin-right: 2px !important;
  
   
}




.content-btn {
    position: relative; /* Added position relative */
    background-color: #e5f90a;
    color: #040404;
    padding: 18px 81px;
    border-radius: 5px;
    font-size: 14px  !important;
    font-weight: 500;
    border: none;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    overflow: hidden; /* Added overflow hidden */
    margin-top: 1%;
}


}


  .hamburger-icon {
    display: block; /* Show hamburger icon */
    float: right; /* Align to the right corner */
    cursor: pointer;
    margin-right: 2%;
    margin-top: 2%;
  }
  .navbar-header.sticky {
    position: fixed;
    top: 0;
   
    background-color: white !important; /* Change the background color when sticky */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle effect */
}


  /* You might want to add styles for the navigation menu when it's hidden */
 
}
.navbar-header.sticky {
    position: fixed;
    top: 0;
   width: 100%;
    background-color: white !important; /* Change the background color when sticky */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle effect */
}


.navbar-header.sticky nav a {
    color: blue !important; /* Change the anchor tag color when sticky */
}
.navbar-header.sticky .hamburger-icon i {
  color: rgb(0, 0, 0) !important; /* Change the hamburger icon color when sticky */
}


header {
   
    position: relative;
    height: 100vh;
    transition: background-color 0.3s ease;
    z-index: 9999;
}

  


.navbar-header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    z-index: 99999999;
    background-color: transparent;
    transition: background-color 0.3s ease;
 
}


.logo {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

.logo-mob {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

#close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

nav {
    display: flex !important;
    margin-top: 1%;
    margin-right: 5%;

    column-gap: 1px !important;
}

nav a {
    text-decoration: none !important;
    display: flex !important;

   
   
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white; /* Adjust the color as needed */
    margin: 0 12px; /* Adjust the spacing between navigation links */
}
nav i{
  margin-top: 3%;
  margin-left: 2px;
}
nav a:hover {
   
    color: rgb(214, 187, 11); /* Adjust the color as needed */
    transition: color 0.3s ease; 
}


.modal {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
 
    top: 15% !important;
 
    width: 100% !important;
    height: auto !important;
    z-index: 9999999 !important;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%)  !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}





#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9; /* Adjust the opacity as needed */
}

.overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
}
.crousel-header-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}
.crousel-header{
    z-index: 999999;
    width: 80%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 18px;
   
}
.content-1{
    margin-top: 2%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  
    align-items: center !important;
    font-family: 'Butler', sans-serif;

}
.content-1 h1{
    font-size: 50px;
    color: white;
  
}
.content-1 p{
    font-size: 18px;
    color: white;
    margin-top: 1%;
}




.content-btn {
    position: relative; /* Added position relative */
    background-color: #e5f90a;
    color: #040404;
    padding: 18px 81px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    overflow: hidden; /* Added overflow hidden */
    margin-top: 1%;
}

.content-btn:hover {
    background-color: #007BFF;
    color: #fbfbfb;
}

.content-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007BFF, transparent);
    transition: left 0.5s ease-in-out; /* Increased transition time */
}

.content-btn:hover::before {
    left: 100%;
}
.sliding-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
  background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
  z-index: 99999999999;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.window-header{
  display: flex;
  justify-content: space-between;
}
.window-header i{
  margin-top: 5%;
  margin-right: 3%;
  cursor: pointer;
}
.logo-window{
  margin-top: 5px;

  margin-bottom: 5px;
  width: 240px;
}
.vertical-nav {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 3%;

}

.vertical-nav a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin: 10px 0;
  position: relative;
  
}
.vertical-nav a:hover {
  color: rgb(214, 187, 11);
  transition: color 0.3s ease;
}


.nav-link-slide {
  display: block;


  margin-bottom: 5px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 5px;


}

.accordion-content li{
  font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Manrope', sans-serif;
    list-style-type: none;
    margin-top: 7px;

}
.header-ui{
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: 'Manrope', sans-serif;
  list-style-type: none;
  margin-top: 7px;
}
.rest-link a{
  font-size: 14px;
    font-weight: 400;
    color: white;
    font-family: 'Manrope', sans-serif;
    list-style-type: none;
    margin-top: 7px;
  text-decoration: none;

}

.white-divider {
  height: 1.4px;
  background-color: #fff; /* White color for the divider */
  margin: 10px 0; /* Adjust margin as needed */
  width: 100%;
}

.academic-modal{
 display: flex;
 justify-content: space-between;
 width: 85%;
 margin-left: 7%;
 margin-right: 7% !important;
 margin-top: 2%;

}
.firstrow{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #313131 !important;
  font-size: 22px;
  font-family: 'Manrope', sans-serif;
  align-items: start !important;
  column-gap: 4px !important;

}
.firstrow a{
  color: #313131 !important;
  

}
.firstrow a:hover{
  color: rgb(214, 187, 11) !important; /* Adjust the color as needed */
  transition: color 0.3s ease !important;
}
.secondrow a:hover{
  color: rgb(214, 187, 11) !important; /* Adjust the color as needed */
  transition: color 0.3s ease !important;
}
.secondrow h1{
  color: #313131 !important;
  font-size: 23px;
  font-family: 'Manrope', sans-serif;
}
.secondrow a{
  color: #313131 !important;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  margin-top: 2% !important ;
  color: rgb(214, 187, 11); /* Adjust the color as needed */
  transition: color 0.3s ease;

}

a:hover {
  text-decoration: none !important; /* Removes the underline on hover */
}
.secondrow-links{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: start !important;
  text-decoration: none;
}
.secondrow{
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
 
}
.grey-divider{
  height: 1px;
  background-color: #cbc1c1; /* White color for the divider */
  margin: 10px 0; /* Adjust margin as needed */
  width: 100%;
}
.grey-divider2{
  height: 1px;
  background-color: #cbc1c1; /* White color for the divider */
  margin: 5px 0; /* Adjust margin as needed */
  width: 80%;
}
.academic-footer{
  background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
  width: 100%;

  height: 80px;
}

.modal-card-2{
display: flex;
justify-content: space-between;
margin-top: 4%;
}
.modal-card-1
{
  position: relative;
  background-color: rgba(0, 0, 0, 0.7); 
}
.mcard-1{
  position: relative;
  background-color: rgba(0, 0, 0, 0.7); 

}
.overlay-text {
  position: absolute;
  bottom: 0; /* Adjust this value based on your design */
  left: 0;   /* Adjust this value based on your design */
  color: white; /* Set the text color */
  font-size: 20px;
  font-weight: 500; /* Set the text size */
  margin-bottom: 40px;
margin-left: 135px;
}
.overlay-text-2{
  position: absolute !important;
  color: white; /* Set the text color */
  font-size: 20px;
  font-weight: 500; 
  margin-top: 90px;
  margin-left: 40px;
 
}
.overlay-text-3{
  position: absolute !important;
  color: white; /* Set the text color */
  font-size: 20px;
  font-weight: 500; 
  margin-top: 90px;
  margin-left: 50px;
 
}
.yellow-line{
  height: 4px;
  background-color:	#FFD700; /* White color for the divider */

  width: 100%;

  
}


.research-modal{
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;
}

.research-row1, .research-row2{
  display: flex;
  flex-direction: column;

}
.research-row3{
  width:200px !important;
}
.research-modal h3 {
  color: #037AD2;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  display: flex !important;
  align-items: start !important;
  text-align: left;
}
.research-modal a{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #313131;
  font-size: 18px;
  margin-top: 4%;
  text-align: left;
  
}
.research-modal a:hover{
  color: rgb(214, 187, 11) !important; /* Adjust the color as needed */
  transition: color 0.3s ease !important;
}

.research-row1-first{
  margin-top: 15%;
}

.research-row3-first{
  margin-top: 11%;


}
.research-row3 h3 {
  display: inline;
  justify-content:start !important;

}

.fourthrow-card{
  margin-top: 3%;
}
.modal-card-1{
  margin-top: 3%;
}

.nav-link-slide i{
  margin-top: 4px !important;
  margin-left: 3px !important;
}
.accordion-content i{
  margin-right: 3px !important;
}

@media only screen and (max-width: 768px){
  .vertical-nav{
    margin-left: 4% !important;
  }
  header {
   
 
    height: 70vh;
  
}

}